.container {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
    overflow-y: scroll;
    height: calc(100vh - 324px);
}

.container::-webkit-scrollbar {
    background-color: #2F2F37;
    width: 8px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    ;
}

.title {
    margin: 0;
}

.groupList {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    row-gap: 32px;
}