.page {
  background-color: #131316;
  display: flex;
  flex-direction: column;
}

.content {
  width: 100%;
  max-width: 1280px;
  display: flex;
  margin: 120px auto auto;

}

.menu {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  color: #fff;
}

.link {
  text-decoration: none;
  min-height: 64px;

}

.link:hover {
  text-shadow: 1px 0 5px #4C4CFF;
}

.form {
  width: 480px;
  margin: 0 auto auto;
}

.navDescription {
  margin: 0;
}

.form div {
  width: 100%
}

.form svg {
  margin-left: 190px;
}

.form button {
  display: block;
  margin: 24px auto 80px;
}

.textBox {
  display: flex;
  justify-content: space-around;
}

.textComment {
  margin: 0 10px 0;
}

.activeLink{
  color: #fff;
}

.formActions {
  display: flex;
  justify-content: end;
  margin-top: 24px
}

.form button {
  margin: 0 0 0 20px;
}

.cancelButton {
  background-color: transparent;
  border: none;
  color: #4C4CFF;
  cursor: pointer;
}

.cancelButton:hover {
  text-shadow: 1px 0 5px #4C4CFF;
}
