.element {
    display: flex;
    align-items: center;
    margin-right: 6px;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.isHover {
  border: 1px solid yellow;
  border-radius: 50px;
}


