.header {
    width: 100%;
    background-color: #1C1C21;
}

.content {
    width: 100%;
    max-width: 1280px;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #F2F2F3;
}

.linkItem {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}

.logo {
    align-items: center;
}